.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 350px;
  height: 350px;
}

.startButton {
  margin: auto;
  margin-right: 500 px;
  width: 70 px;
  height: 50 px;
}

.centerDiv {
  text-align: center;
}